# Base URL for the app
BASE_URL = "http://127.0.0.1:8000/"

# Database Configuration
# 1. Using a direct url with sqlite
DATABASE_URL=sqlite+pysqlite:///url_shortener.db

# # 2. Using a direct url with postgres
# DATABASE_URL=postgresql+psycopg://postgres:secret@localhost:5432/url_shortener

# # 3. Using configs with sqlite
# DB_TYPE=sqlite+pysqlite
# DB_NAME=url_shortener.db

# # 4. Using configs with postgres
# DB_TYPE=postgresql+psycopg
# DB_USER=postgres
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=url_shortener
